header {
    background-color: black;
    padding-top: 30px;
    color: white;
    text-align: center;
    box-shadow: 0 9px 3px #ccc;
    font-family: 'Times, Serif';
    img {
        width: 250px;
    }
    h1 {
        font-size: 7rem;
        color: white
    }
    #nav {
        text-align: left;
        padding-left: 20px;
    }
    Link {
        text-decoration: none;
        font-size: 4rem;
    }
    p {
        font-size: 2.2rem;
        color: white;
        font-family: 'Raleway';
    }

}
