.btn-action {
    background-color: lightblue;
    text-align: center;
}

.btn-saved {
    background-color: lightgreen;
    max-width: 95px;
    padding-left: 25px;

}

.date-cell {
    min-width: 100px;

}